<html>

<head>
    <title>Account Deatils</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen and (min-width: 500px)" type="text/css" href="/css/account.css">
    <link rel="stylesheet" media="screen and (max-width: 499px)" type="text/css" href="/css/maccount.css">
    <link rel="icon" href="icon.png" type="image/png">
</head>

<body>
    <h1>{{email}}</h1>
    <h2>First Name: <span>{{firstName}}</span> </h2>
    <h3>Last Name: <span>{{lastName}}</span></h3>
    <h4>Mobile Number: <span>{{phoneNumber}}</span></h2>
        <form action="/changePassword" method="GET">
            <input type="submit" value="Change Password" id="button" />
        </form>
        <form action="/getAddress" method="GET">
            <input type="submit" value="My Address" id="button1" />
        </form>
</body>

</html>
