<!DOCTYPE html>
<html>
<head>
<title>Owner</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/owner.css">
    <link rel="icon" href="icon.png" type="image/png">
</head>
<body>
<form action="/saveAddress" method="POST">
<div class="form-box">
<h1>Details</h1>
<div class="input-select">
<p>State:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<select name="state">
<option>Telangana</option>
</select>
</p>
</div>
<div class="input-select">
<p>District:&nbsp;&nbsp;
<select name="district">
<option>Jangaon</option>
</select>
</p>
</div>
<div class="input-select">
<p>Town:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<select name="town">
<option>Jangaon</option>
</select>
</p>
</div>
<div class="input-select">
<p>Area:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<select name="area">
<option>Ganesh Street</option>
<option>Sanjay Nagar</option>
<option>Hyderabad Road</option>
</select>
</p>
</div>
<div class="input-box">
<i class="fa fa-address-book" style="color:orange;"></i>
<input type="text" placeholder="House Address" name="address" required>
</div>
<div class="input-box">
<i class="fa fa-commenting-o" style="color:orange;"></i>
<input type="text" placeholder="House Description(number of rooms etc)" name="houseDescription" required>
</div>
<div class="input-box">
<i class="fa fa-mobile" style="font-size:23px;color:orange;"></i>
<input type="text" placeholder="What's app number(can be used by tenant)" name="contactNumber" pattern="[0-9]{10}" maxlength="10" required>
</div>
<h2>please select these if they can be accesible within</h2>
<h2>1km radius from your current location</h2>
<h3><input type="checkbox" name="veg">&nbsp;Vegetable Market
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="checkbox" name="shop">&nbsp;Shopping Mall<br><br>
  <input type="checkbox" name="milk">&nbsp;Milk Booth
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="checkbox" name="grocery">&nbsp;Grocery Store<br><br>
  <input type="checkbox" name="hospital">&nbsp;Hospital
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="checkbox" name="cinema">&nbsp;Cinema Hall<br><br>
  <input type="checkbox" name="bus">&nbsp;Bus Stand
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="checkbox"name="rail">&nbsp;Railway Station
</h3>
<input type="submit" value="Continue" id="button"/>
</form>
</div>
</body>
</html>
