<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8" />
          <meta
               name="viewport"
               content="width=device-width, initial-scale=1.0"
          />
          <title>Owner</title>
          <link
               rel="stylesheet"
               href="https://fonts.googleapis.com/css?family=Open+Sans|Poppins&effect=outline|anaglyph"
          />
          <link
               rel="stylesheet"
               href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
          />
          <link
               rel="stylesheet"
               media="screen and (min-width: 500px)"
               type="text/css"
               href="/css/owner.css"
          />
          <link
               rel="stylesheet"
               media="screen and (max-width: 499px)"
               type="text/css"
               href="/css/mowner.css"
          />
            <link rel="icon" href="icon.png" type="image/png">
     </head>
     <body>
          <div class="container">
               <form action="/findAddress" method="POST">
                    <h1 class="font-effect-outline">Details</h1>
                    <h2>State</h2>
                    <select name="state">
                         <option>Telangana</option>
                    </select>
                    <h2>District</h2>
                    <select name="district">
                         <option>Jangaon</option>
                    </select>
                    <h2>Town</h2>
                    <select name="town">
                         <option>Jangaon</option>
                    </select>
                    <h2>Area</h2>
                    <select name="area">
                         <option>Ganesh Street</option>
                         <option>Sanjay Nagar</option>
                         <option>Hyderabad Road</option>
                    </select>
                    <div class="input-box">
                         <h2>House address</h2>
                         <i class="far fa-address-book icon"></i>
                         <input
                              type="text"
                              placeholder="Address"
                              name="address"
                              required
                         /><br />
                         <h2>House description</h2>
                         <i class="far fa-comment-alt icon"></i>
                         <input
                              type="text"
                              placeholder="Number of rooms etc"
                              name="houseDescription"
                              required
                         />
                         <h2>What's app number</h2>
                         <i class="fas fa-phone-alt icon"></i>
                         <input
                              type="text"
                              placeholder="number"
                              name="contactNumber"
                              pattern="[0-9]{10}"
                              maxlength="10"
                              required
                         />
                    </div>
                    <h3>
                         Please select these if they can be accesible with in
                         radius of 1km
                    </h3>
                    <div class="divide">
                         <div class="column">
                              <label class="check"
                                   >Vegetable market
                                   <input type="checkbox" name="veg" />
                                   <span class="checkmark"></span>
                              </label>
                              <label class="check"
                                   >Milk booth
                                   <input type="checkbox" name="milk" />
                                   <span class="checkmark"></span>
                              </label>
                              <label class="check"
                                   >Hospital
                                   <input type="checkbox" name="hospital" />
                                   <span class="checkmark"></span>
                              </label>
                              <label class="check"
                                   >Bus stand
                                   <input type="checkbox" name="bus" />
                                   <span class="checkmark"></span>
                              </label>
                         </div>
                         <div class="column">
                              <label class="check"
                                   >Shopping mall
                                   <input type="checkbox" name="shop" />
                                   <span class="checkmark"></span>
                              </label>
                              <label class="check"
                                   >Grocery
                                   <input type="checkbox" name="grocery" />
                                   <span class="checkmark"></span>
                              </label>
                              <label class="check"
                                   >Cinema hall
                                   <input type="checkbox" name="cinema" />
                                   <span class="checkmark"></span>
                              </label>
                              <label class="check"
                                   >Railway station
                                   <input type="checkbox" name="rail" />
                                   <span class="checkmark"></span>
                              </label>
                         </div>
                    </div>
                    <input type="submit" value="Continue" id="button" />
               </form>
          </div>
     </body>
</html>
