<html>
<head>
<title>Select Option</title>
<link rel="stylesheet" href="/css/selectOption.css"> 
</head>
<body>
<form action="/tenant" method="GET">
<input type="submit" value="Tenant" id="button1"/>
</form>
<form action="/owner" method="GET">
<input type="submit" value="Owner" id="button2"/>
</form>
<ul>
<li><a href="intro.html" id="home">Home</a></li>
<li><a href="/myAccount" id="account" onclick="myAccount()">Account</a></li>
<li><a href="Contact.html" id="contact">Contact Us</a></li>
<li><a href="/logout" id="logout" >Log Out</a></li>
</ul>
</body>
</html>