<!DOCTYPE html>
<html>
     <head>
          <title>Select Option</title>
          <meta name="viewport" content="width=device-width, initial-scale=1" />
          <link
               rel="stylesheet"
               href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          />
           <link
               rel="stylesheet"
               href="https://fonts.googleapis.com/css?family=Open+Sans|Poppins&effect=anaglyph|fire"
          />
          <link rel="stylesheet" href="/css/selectOption.css" />
          <link rel="icon" href="icon.png" type="image/png" />
           <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
          <script>
               $(window).on("load", function () {
                    $(".loader-wrapper").fadeOut("slow");
               });
          </script>
     </head>
     <body>
          <div class="loader-wrapper" id="loader-wrapper">
               <span class="loader"><span class="loader-inner"></span></span>
          </div>
          <div class="topnav" id="myTopnav">
               <a href="intro.html" class="active">Home Rentals</a>
               <a href="/myAccount" onclick="myAccount()">Account</a>
               <a href="Contact.html">Contact Us</a>
               <a href="/logout">Logout</a>
               <a
                    href="javascript:void(0);"
                    class="icon"
                    onclick="myFunction()"
               >
                    <i class="fa fa-bars"></i>
               </a>
          </div>

          <form action="/tenant" method="GET">
               <input type="submit" value="Tenant" id="button1" />
          </form>
          <form action="/owner" method="GET">
               <input type="submit" value="Owner" id="button2" />
          </form>

          <script>
               function myFunction() {
                    var x = document.getElementById("myTopnav");
                    if (x.className === "topnav") {
                         x.className += " responsive";
                    } else {
                         x.className = "topnav";
                    }
               }
          </script>
     </body>
</html>
