<!DOCTYPE html>
<html>

<head>
    <title>Tenant</title>
    <meta name="viewport" content="width=device-width,intial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" media="screen and (min-width: 500px)" type="text/css" href="/css/tenant.css">
    <link rel="stylesheet" media="screen and (max-width: 499px)" type="text/css" href="/css/mtenant.css">
    <link rel="icon" href="icon.png" type="image/png">
</head>

<body>
    <form action="/findAddress" method="POST">
        <div class="form-box">
            <h1>Details</h1>
            <div class="input-select">
                <p>State:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <select name="state">
                        <option>Telangana</option>
                    </select>
                </p>
            </div>
            <div class="input-select">
                <p>District:&nbsp;&nbsp;
                    <select name="district">
                        <option>Jangaon</option>
                    </select>
                </p>
            </div>
            <div class="input-select">
                <p>Town:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <select name="town">
                        <option>Jangaon</option>
                    </select>
                </p>
            </div>
            <div class="input-select">
                <p>Area:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <select name="area">
                        <option>Ganesh Street</option>
                        <option>Sanjay Nagar</option>
                        <option>Hyderabad Road</option>
                    </select>
                </p>
            </div>
            <input type="submit" value="Continue" id="button" />
    </form>
    </div>
</body>

</html>
