<!DOCTYPE html>
<html>
<head>
<title>Tenant</title>
<link rel="stylesheet" href="tenant.css">
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>
<script src="tenant.js"></script>
</head>
<body>
<form action="Search.html">
<div class="form-box">
<h1>Search</h1>
<div class="input-box">
<p>State:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<select>
<option>Telangana</option>
</select>
</p>
</div>
<div class="input-box">
<p>District:&nbsp;&nbsp;
<select>
<option>Jangaon</option>
</select>
</p>
</div>
<div class="input-box">
<p>Town:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<select>
<option>Jangaon</option>
</select>
</p>
</div>
<div class="input-box">
<p>Area:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<select>
<option>Ganesh Street</option>
<option>Sanjay Nagar</option>
<option>Hyderabad Road</option>
</select>
</p>
</div>
<div class="input-box">
    
    <p><input type="checkbox" id="bac" checked> Bachelor&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id="fam">&nbsp;Family</p>

</div>
<input type="submit" value="Continue" id="button"/>
</form>
</div>
</body>
</html>
