::placeholder {
     color: black;
}
* {
     box-sizing: border-box;
}
a:hover {
     color: orange;
}
a {
     color: white;
     text-decoration: none;
     font-family: "Poppins";
     font-size: 13px;
     letter-spacing: 0.5px
}
body {
     margin: 0;
}
html {
     background: url(back.png) no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}
.container {
     width: 50%;
     height: 100vh;
     /*background-image: url("formBack.png");*/
     background: linear-gradient(to bottom right, #2c3e50 0%, #bdc3c7 100%);
     padding: 30px 30px 30px 60px;
     position: absolute;
     right: 0;
     opacity: 0.8;
     /*"background-size: cover;
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;*/
}

h1 {
     font-family: "Poppins";
     font-size: 25px;
     color: white;
     text-align: center;
     letter-spacing: 1px;
}
h2 {
     font-family: "Poppins";
     font-size: 16px;
     color: white;
     letter-spacing: 1px;
}

.input-box input {
     padding: 5px 5px 5px 30px;
     border-radius: 5px;
     border: 3px solid white;
     font-family: "Poppins";
     font-size: 14px;
     color: white;
     background: transparent;
     width: 70%;
}
.input-box input:focus {
     border: 3px solid green;
}

.input-box i {
     position: absolute;
}
.icon {
     padding: 10px;
     min-width: 40px;
     color: white;
}
.eye {
     position: absolute;
}
#button {
     width: 40%;
     background-color: black;
     color: white;
     padding: 4px 4px 7px 4px;
     border: 3px solid orange;
     border-radius: 12px;
     text-align: center;
     opacity: 0.8;
     font-family: "Poppins";
     font-size: 18px;
     letter-spacing: 1px;
}

#button:hover {
     background-color: green;
}

