* {
     margin: 0;
     padding: 0;
     border: 0;
     box-sizing: border-box;
     overflow: hidden;
}
html,
body {
     margin: 0;
     padding: 0;
     background: url(mBack.png) no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}
.container {
     width: 50%;
     height: 100vh;
     position: absolute;
     right: 0;
}
.container h2 {
     color: black;
     font-family: "Goldman";
     font-size: 50px;
     width: 100%;
     position: absolute;
     top: 20%;
     left: 20%;
}

#button {
     color: white;
     font-family: "Open Sans";
     font-size: 18px;
     width: 30%;
     padding: 10px;
     position: absolute;
     top: 50%;
     left: 50%;
     cursor: pointer;
     border: 3px solid white;
     border-radius: 10px;
     background-color: green;
     transform: translateX(-50%) translateY(150%);
}
