a:hover {
     color: orange;
}
a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: "Poppins";
    letter-spacing: 1px;
}
body {
     margin: 0;
}
html {
     background: url(back.png) no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}
.container {
     width: 80%;
     background-image: url("formBack.jpg");
     border-radius: 30px;
     padding: 0 20px 0 20px;
     margin: auto;
     opacity: 0.8;
     background-size: cover;
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     transform: translateY(50%);
}
.container::after {
     content: "";
     display: table;
     clear: both;
}
.login-box {
     float: left;
     width: 100%;
}
h1 {
     font-family: "Poppins";
     font-size: 20px;
     color: white;
     text-align: left;
     margin-top: 20px;
     letter-spacing: 1px;
}
h2 {
     font-family: "Poppins";
     font-size: 14px;
     color: white;
     letter-spacing: 1px;
}

.input-box input {
     padding: 5px 5px 5px 30px;
     border-radius: 5px;
     border: 3px solid white;
     font-family: "Poppins";
     font-size: 12px;
     color: white;
     background: black;
     width: 70%;
}
.input-box input:focus {
     border: 3px solid green;
}

.input-box i {
     position: absolute;
}
.icon {
     padding: 10px;
     min-width: 40px;
     color: white;
}
.eye {
     position: absolute;
}
#button {
     width: 50%;
     background-color: black;
     color: white;
     padding: 2px;
     border: 3px solid orange;
     border-radius: 6px;
     text-align: center;
     margin-bottom: 28px;
     font-family: "Poppins";
     font-size: 16px;
     letter-spacing: 1px;
}

#button:hover {
     background-color: green;
}

