::placeholder {
     color: black;
}
* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     border: 0;
}
a:hover {
     color: orange;
}
a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-family: "Poppins";
    letter-spacing: 0.5px;
}
html, body {
     margin: 0;
     padding: 0;
}
html {
     background: url(mBack.png) no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}
option {
     color: orange;
     background-color: black;
}
select {
     background-color: black;
     color: white;
     width: 85%;
     height: 32px;
     border-radius: 5px;
     border: 2px solid white;
     padding-left: 20px;
     font-family: "Poppins";
     font-size: 12px;
     cursor: pointer;
}
.container {
     width: 90%;
     border-radius: 30px;
     /*height: 100vh;*/
     padding:  20px 20px 30px 30px;
     opacity: 0.8;
     background: url(formBack.png) no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     top: 50%;
     left: 50%;
     position: absolute;
     -webkit-transform: transform(-50%,-50%);
     transform: translate(-50%,-50%);
}

h1 {
     font-family: "Poppins";
     font-size: 20px;
     color: white;
     text-align: center;
     letter-spacing: 1px;
}
h2 {
     font-family: "Poppins";
     font-size: 14px;
     color: white;
     letter-spacing: 1px;
     padding: 4px 0 4px 0
}

.input-box input {
     padding: 5px 5px 5px 30px;
     border-radius: 5px;
     border: 3px solid white;
     font-family: "Poppins";
     font-size: 12px;
     color: white;
     background: transparent;
     width: 85%;
}
.input-box input:focus {
     border: 3px solid green;
}

.input-box i {
     position: absolute;
}
.icon {
     padding: 10px;
     min-width: 40px;
     color: white;
}
.eye {
     position: absolute;
}
#button {
     width: 50%;
     background-color: black;
     opacity: 0.7;
     color: white;
     padding: 2px;
     border: 3px solid white;
     border-radius: 6px;
     text-align: center;
     font-family: "Poppins";
     font-size: 16px;
     letter-spacing: 1px;
}

#button:hover {
     background-color: green;
}

